.jumbotron {
  text-align: center;
}

.dogbox {
  border: 3px solidblue;
  text-align: center;
}

.catbox {
  border: 3px solidblue;
  text-align: center;
}

li {
    padding: 0;
    list-style: none;
    
}
